.container
  .row
    .span8.offset2.post
      h2.post-title
        a(href=url(post)) #{post.title} 
      .post-meta
        | #{fromNow(post.created)} 
        if post.tags
          | • 
          i.icon-tags.tags 
          for tag in post.tags
            | ##{tag} 
        | • 
        a(href=url(post))
          i.icon-bookmark.permalink

      .post-content !{marked(post.content)}

      .post-footer
        i.icon-certificate
